*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;  
}

/****** Header ******/

header{
    background-color: #0F3460;
    font-size: 1.6rem;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header a{
    color:white;
}

.section-contacto{
    display: flex;
}

.section-contacto img{
    width: 20px;
    height: 20px;
}

.figure-contacto, .figcaption-contacto{
    display: flex;
    align-items: center;
    margin: 5px 5px;
}

.nav-header ul{
    display: flex;
    margin: 5px 0;
}

.nav-header ul li{
    margin-left: 10px;
}

.select-nav{
    color: white;
    background: #0F3460;
    border: #0F3460;
    outline: none;
}

/****** Main ******/



/****** Media Query ******/

@media (min-width: 768px){
    header{
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 45px;
    }
}

@media (min-width: 1024px){
    header{
        padding: 20px 100px;
    }
}