*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;  
}

.centrado-contenedor{
    margin: 0 auto;
}

.padding-separacion-movile{
    padding: 0 5%;
}
/********************** Header **********************/

header{
    background-color: #0F3460;
    font-size: 1.6rem;
    color: white;
    display: flex;
    margin-bottom: 10px;
}

/****** Seccion Contacto y Nav ******/

header a{
    color:white;
}

/****** Seccion basar y nav *******/

.displey-none-movile{
    display: none;
}

.nav-header-movile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-header-movile h2{
    font-family: cursive;
    font-size: 3rem;
}

.nav-header-movile ul{
    display: flex;
    margin: 5px 0;
}

.select-nav{
    color: white;
    background: #0F3460;
    border: #0F3460;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
}

/********************** Main **********************/

main{
    font-size: 1.6rem;
}

/***** Seccion Search *****/
.sect-main-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 3rem;
    font-family: cursive;
    color: #0F3460;
    width: 20vw;
}

.main-input{
    margin-right: 10px;
}

main .main-input-container{
    width: 80vw;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    align-items: center;
}

.main-input input{
    width: 100vw;
    height: 35px;
    border: none;
    outline: none;
}

main .main-input .search-icon{
    background-image: url("./img/icon-buscador.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 10vw;
    height: 18px;
}

.main-input-container button{
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    padding: 9px 0;
    width: 30vw;
    border-radius: 0 100px 100px 0;
    background: #4E97FD;
    border: 1px solid #3C74C2;
}

/* .fa-bars{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #EEF1F3;
    border-radius: 100px;
    color: #757575;
} */

/***** Menu Hambrguesa *****/

.checkbtn{
    cursor: pointer;
}

.open-menu{
    padding: 10px;
    border: 1px solid #EEF1F3;
    border-radius: 100px;
    color: #757575;
}

.checkbtn img{
    width: 40px;
}

#close-menu{
    text-align: end;
    margin-right: 20px;
}

.fa-xmark{
    color: white;
    border-radius: 50px;
    width: 40px;
    background: red;
    text-align: center;
}

.nav-menu ul{
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #0F3460;
    top: 0;
    left: -200%;
    text-align: center;
    transition: all .3s;
}
.nav-menu ul li{
    margin: 30px 0;
}
.nav-menu ul li select{
    font-size: 1.6rem;
    outline: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: 0;
    background-color: #0F3460;
}

.nav-menu ul li select option{
    font-size: 1.4rem;
}

.li-icons img{
    width: 50px;
}

#check:checked ~ ul{
    left:0;
}

#check{
    display: none;
}

/***** Seccion Mural *****/

.sect-mural{
    display: flex;
    background-color: #EFEFEF;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    margin-top: 10px;
}

.sect-mural div{
    text-align: center;
}

.sect-mural h1{
    color: #2B3445;
    font-size: 3rem;
    width: 300px;
}

.sect-mural button{
    padding: 4% 6%;
    background: #4E97FD;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 0;
}

/***** Seccion Articulos 2/1 *****/

.div-articlesPromocionales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.arti-enfermera{
    width: 100%;
    background-color: white;
    border: 2px solid #F8F8F9;
    border-radius: 20px;
    display: flex;
}

.arti-enfermera div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B8DEFE;
    border-radius: 20px 100px 100px 20px;
    text-align: center;
    padding: 0 15px;
}

.arti-enfermera div p{
    width: 60%;
}

.img-arti-promocional{
    width: 30%;
    max-width: 200px;
    margin: auto;
}

.arti-enfermera div img{
    width: 40px;
    height: 40px;
}

.arti-cremas{
    width: 100%;
    background-color: white;
    border: 2px solid #F8F8F9;
    border-radius: 20px;
    display: flex;
}


.arti-cremas div{
    width: 50%;
    margin: auto 0;
    padding-left: 20px;
    line-height: 25px;
}

.arti-cremas div button{
    background: #4E97FD;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
}

/***** Seccion Articulos 2/2 *****/

.div-top-all-products{
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 20px;
}

.div-top-all-products div p{
    font-size: 1.4rem;
}

.div-top-all-products select{
    width: 100px;
    outline: none;
    border: 0;
    background-color: transparent;
}

.div-top-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
}

.arti-productos{
    position: relative;
    background-color: white;
    border: 2px solid #F9F9FB;
    width: 45%;
    /* max-width: 300px; */
    border-radius: 10px;
    margin: 10px 0;
}

.arti-productos span{
    background-color: #4E97FD;
    width: 50px;
    padding: 5px;
    border-radius: 0 15px 15px 0 ;
    font-size: 1rem;
    color: white;
}

.arti-productos figure{
    text-align: center;
}

.arti-off-img{
    padding-top: 20px;
}

.arti-off-img img{
    width: 100%;
    /* height: 165px; */
    margin: 45px 0;
}

.arti-name-rating{
    padding: 15px;
    border-top: 1px solid #E4EAEF;
}

.rating img{
    display: inline-block;
    margin-top: 5px;
    width: 15px;
}

.rating p{
    display: inline-block;
}

.precio-venta, .precio-tachado{
    display: inline-block;
    margin: 5px 0;
}

.precio-venta{
    color:  #4E97FD;
}

.div-button button{
    background-color: #4E97FD;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.div-button{
    display: flex;
}

.button-corazon img{
    width: 13px;
    height: 13px;
}

.button-add{
    width: 90%;
    margin-right: 10px;
}

/* .arti-productos figure figcaption{
    border-top: 1px solid black;
    padding-top: 10px;
    text-align: left;
} */

.flechaL{
    position: absolute;
    bottom: 160px;
    left: -15px;
    cursor: pointer;
}

.flechaR{
    position: absolute;
    bottom: 160px;
    right: -15px;
    cursor: pointer;
}

.div-all-products{
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    align-items: center
}

.arti-productos-movile{
    width: 100%;
    /* max-width: 550px; */
}

.arti-productos-movile figure img{
    margin: 45px 0;
}

/***** Call Center *****/

.sect-buttonLoad{
    display: flex;
    justify-content: center;
}

.sect-buttonLoad button{
    background-color: #4E97FD;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin: 30px 0;
}

.sect-atencionCliente{
    width: 100%;
    /* max-width: 800px; */
    padding: 20px;
    border: 2px solid #F9F9FB;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px auto;
}

.div-atencion-ayuda{
    margin: 0 10px;
}

.sect-atencionCliente h3{
    color: #4E97FD;
}

.sect-atencionCliente img{
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

/********************** Footer **********************/

footer{
    background-color: #183C92;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    margin: 80px 20px 5px 20px;
    /* margin: 100px 100px 0 400px; */
    border-radius: 10px;
    padding: 40px;
    color: white;
}

.sect-bazarImg{
    margin: 20px;
    line-height: 25px;
}

.sect-bazarImg img{
    width: 100px;
    height: 40px;
    margin-top: 10px;
}

.sect-listaIcon a i{
    width: 30px;
    height: 30px;
    margin-top: 15px;
}

.sect-bazarImg h2{
    font-size: 4rem;
    font-family: cursive;
    margin-bottom: 15px;
}

.sect-listaIcon a{
    color: white;
}

.sect-listaIcon{
    margin: 20px;
    line-height: 30px;
}


/********************** Media Query 768**********************/

@media (min-width: 768px){
    .displey-flex-tablet{
        display: flex;
    }

    header{
        flex-direction: row;
        justify-content: space-between;
    }

    /****** Main ******/

    main .main-input-container{
        width: 83vw;
    }

    /***** Seccion Mural *****/

    .sect-mural{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .sect-mural div{
        text-align: start;
    }

    .sect-mural img{
        /* width: 40%; */
        width: 275px;
    }

    /***** Seccion Articulos 2/1 *****/

    .arti-enfermera{
        width: 49%;
    }

    .arti-enfermera div{
        padding: 15px;
    }

    .arti-cremas{
        width: 49%;
    }

    .img-arti-promocional{
        width: 45%;
    }

    /***** Seccion Articulos 2/2 *****/

    .div-all-products{
        /* flex-direction: row;
        flex-wrap: wrap; */
        justify-content: space-between;
    }

    .arti-productos{
        width: 33%;
    }

    .arti-productos-movile{
        width: 45%;
    }

    .producto2{
        display: block;
    }

    .sect-atencionCliente{
        flex-direction: row;
        text-align: left;
    }

    /****** Footer ******/

    footer{
        flex-direction: row;
    }

    .sect-bazarImg{
        /* width: 50%; */
        width: 55%;
    }

    .sect-listaIcon{
        /* width: 50%; */
        width: 45%;
    }

    .sect-bazarImg a{
        display: block;
    }
}

/********************** Media Query 1024**********************/

@media (min-width: 1024px){
    .padding-separacion-desktop{
        padding: 10px 10%;
    }

    .displey-none-desktop{
        display: none;
    }

    .displey-flex-desktop{
        display: flex;
    }
    

    .select-nav{
        color: white;
        background: #0F3460;
        border: #0F3460;
    }

    .section-contacto img{
        width: 20px;
        height: 20px;
    }

    .figure-contacto, .figcaption-contacto{
        display: flex;
        align-items: center;
        margin: 5px 5px;
    }

    .nav-header ul{
        display: flex;
        margin: 5px 0;
    }

    .nav-header ul li{
        margin-left: 10px;
    }

    .icon-user-buy{
        width: 10vw;
        justify-content: flex-end;
        gap: 20px
    }

    /****** Main ******/

    main .main-input-container{
        width: 50vw;
    }

    .select-nav-descktop{
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }

    .nav-ul-desktop{
        display: flex;
        gap: 15px;
    }

    .nav-ul-desktop li select{
        border: 0;
        background: transparent;
        outline: none;
    }

    .div-categoria select{
        border: 0;
        width: 140px;
        outline: none;
        background-color: transparent;
    }

    .div-categoria{
        width: 190px;
        background-color: #F6F9FC;
        border-radius: 5px;
        padding: 5px;
    }

    /***** Seccion Mural *****/

    .sect-mural{
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    /***** Aside *****/

    .aside-lista{
        width: 25%;
        margin-top: 10px;
        /* padding-left: 100px; */
    }

    .aside-icons{
        width: 20px;
        margin: 0 10px;
    }

    .aside-categorias{
        width: 100%;
    }

    .aside-categorias li{
        width: 100%;
        height: 2%;
        background-color: #F3f5f9;
        display: flex;
        border-radius: 5px;
        margin-top: 5px;
        align-items: center;
    }

    .aside-lista select{
        width: 80%;
        outline: none;
        border: 0;
        background: transparent;
        font-size: 1.6rem;
    }

    .aside-lista ul li a{
        color: black;
    }

    .aside-categorias .background-azulClaro{
        background-color: #B8DEFE;
        padding-left: 10px;
    }
    .aside-articles{
        display: flex;
        justify-content: space-between;
    }

    /****** Articulos ******/

    .div-articulos {
        width: 75%;
        margin-left: 20px;
    }

    .arti-enfermera div p{
        width: 100%;
    }

    .div-top-products{
        justify-content: space-between;
    }

    .div-all-products{
        justify-content: space-between;
    }

    .div-articlesPromocionales{
        justify-content: space-between;
    }

    .arti-productos{
        width: 33%;
        max-width: 270px;
    }

    .arti-productos figure img{
        /* width: 170px; */
        height: 170px;
        margin: 45px 0;
    }

    .sect-atencionCliente{
        width: 33%;
        margin: 0;
    }

    .div-atencion-ayuda{
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    /****** Footer ******/

    footer{
        margin: 100px 100px 5px 370px;
    }

    .sect-listaIcon{
        margin: 60px 0 0 50px;
    }

    .sect-bazarImg{
        margin: 20px 0;
    }

    .sect-bazarImg a{
        display: inline;
    }

    
}