*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;  
}

.centrado-contenedor{
    margin: 0 auto;
}

.padding-separacion-movile{
    padding: 0 5%;
}
/********************** Header **********************/

header{
    background-color: #0F3460;
    font-size: 1.6rem;
    color: white;
    display: flex;
    margin-bottom: 10px;
}

/****** Seccion Contacto y Nav ******/

header a{
    color:white;
}

/****** Seccion basar y nav *******/

.displey-none-movile{
    display: none;
}

.nav-header-movile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-header-movile h2{
    font-family: cursive;
    font-size: 3rem;
}

.nav-header-movile ul{
    display: flex;
    margin: 5px 0;
}

.select-nav{
    color: white;
    background: #0F3460;
    border: #0F3460;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
}

/********************** Main **********************/

main{
    font-size: 1.6rem;
}

/***** Seccion Search *****/
.sect-main-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 3rem;
    font-family: cursive;
    color: #0F3460;
    width: 20vw;
}

main .main-input-container{
    width: 80vw;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    align-items: center;
}

.main-input input{
    width: 100vw;
    height: 35px;
    border: none;
    outline: none;
}

main .main-input .search-icon{
    background-image: url("./img/icon-buscador.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 10vw;
    height: 18px;
}

.main-input-container button{
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    padding: 9px 0;
    width: 30vw;
    border-radius: 0 100px 100px 0;
    background: #4E97FD;
    border: 1px solid #3C74C2;
}

.icon-menu{
    width: 40px;
    height: 40px;
}

/***** Menu Hambrguesa *****/

.checkbtn{
    cursor: pointer;
}

.nav-menu ul{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #0F3460;
    top: 100px;
    left: -200%;
    text-align: center;
    transition: all .3s;
}
.nav-menu ul li{
    margin: 30px 0;
}
.nav-menu ul li select{
    font-size: 1.6rem;
    outline: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: 0;
    background-color: #0F3460;
}

.nav-menu ul li select option{
    font-size: 1.4rem;
}

.li-icons img{
    width: 40px;
}

#check:checked ~ ul{
    left:0;
}

#check{
    display: none;
}


/********************** Media Query **********************/
/******* Media 768 *******/

@media (min-width: 768px){

    header{
        flex-direction: row;
        justify-content: space-between;
    }

    /****** Main ******/

    main .main-input-container{
        width: 83vw;
    }
}

/******* Media 1024 *******/

@media (min-width: 1024px){
    .padding-separacion-desktop{
        padding: 10px 10%;
    }

    .displey-none-desktop{
        display: none;
    }

    .displey-flex-desktop{
        display: flex;
    }
    

    .select-nav{
        color: white;
        background: #0F3460;
        border: #0F3460;
    }

    .section-contacto img{
        width: 20px;
        height: 20px;
    }

    .figure-contacto, .figcaption-contacto{
        display: flex;
        align-items: center;
        margin: 5px 5px;
    }

    .nav-header ul{
        display: flex;
        margin: 5px 0;
    }

    .nav-header ul li{
        margin-left: 10px;
    }

    .icon-user-buy img{
        width: 30px;
        height: 30px;
    }

    .icon-user-buy{
        width: 10vw;
        justify-content: flex-end;
    }

    /****** Main ******/

    main .main-input-container{
        width: 50vw;
    }

    .select-nav-descktop{
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }

    .nav-ul-desktop{
        display: flex;
        gap: 15px;
    }

    .nav-ul-desktop li select{
        border: 0;
        background: transparent;
        outline: none;
    }

    .div-categoria select{
        border: 0;
        width: 140px;
        outline: none;
        background-color: transparent;
    }

    .div-categoria img{
        width: 25px;
        height: 25px;
    }

    .div-categoria{
        width: 190px;
        background-color: #F6F9FC;
        border-radius: 5px;
        padding: 5px;
    }
}